.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    color: #FFFFFF;
}

.header__logo {
    margin-left: 48px;
}

.header__search {
    display: flex;
    height: 40px;
    padding: 10px;
    align-items: center;
}

.header__searchContainer {
    height: 20px;
    border: 1px solid #31363A;
    border-radius: 4px;
    width: 365px;
}

.header__searchContainer > input {
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFFFFF;
}

.header__searchContainer > input:focus {
    outline: none;
}

/*Style for Free Stocks, Account, etc...*/
.header__menuItems {
    margin-left: 48px;
    margin-right: 48px;
}

/*Style for the links Free Stocks, Account, etc...*/
.header__menuItems a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}

/*Changes color while hovering*/
.header__menuItems a:hover {
    color: #5AC53B;
}
