[submodule "Projectos/Repos/CWebServer"]
	   path = Projectos/Repos/CWebServer
	   url = https://github.com/ElTitoDG/CWebServer
[submodule "Projectos/Repos/SDL2DEngine"]
	   path = Projectos/Repos/SDL2DEngine
	   url = https://github.com/ElTitoDG/SDL2DEngine
[submodule "Projectos/Repos/OLD_C-HTTP-WebServer"]
	path = Projectos/Repos/OLD_C-HTTP-WebServer
	url = https://github.com/ElTitoDG/OLD_C-HTTP-WebServer
[submodule "Projectos/Repos/gas-bill"]
	path = Projectos/Repos/gas-bill
	url = https://github.com/ElTitoDG/gas-bill
