.DS_store
*.
*.exe

Practices/C/arrays
Practices/C/sort_array
Practices/C/Algorithms/linear_search
Practices/HTML 5/Computer-class/javascript/myapp/node_modules
Practices/rust/grrs/target
Practices/rust/grrs/Cargo.lock
Practices/rust/grrs/test
Practices/Javascript/*.zip
Practices/Javascript/p7/*.js
Practices/C++/OOP/test
Practices/MATLAB/UTM_MATLAB
Practices/C/hello
UA/C/gfx/example
.ccls-cache/@@Users@julianhinojosagil@Documents@Dev@My-beginner-repository
UA/C/test
UA/C/.clang_format
UA/C/trian
UA/C/triangulos
